{
  "name": "{{ hubot_botname }}",
  "version": "0.0.0",
  "private": true,
  "author": "balanced-ops/ansible-hubot",
  "description": "A hubot installation, courtesy of balanced-ops",
  "dependencies": {
    "hubot": "{{ hubot_version }}"
  },
  "engines": {
    "node": "0.10.x"
  }
}