#!/bin/sh

exec 2>&1
export PATH={{ hubot_dir }}/node_modules/.bin:$PATH
cd {{ hubot_dir }}
export HUBOT_NAME=${HUBOT_NAME:="{{  hubot_botname }}"}
export HUBOT_ADAPTER=${HUBOT_ADAPTER:="{{  hubot_adapter }}"}
exec chpst -u {{ hubot_user }} -U {{ hubot_user }} \
           -e "{{ hubot_secrets_dir }}"            \
           env HOME="{{ hubot_dir }}" bin/hubot